%main.main
  .signup-panel
    %p.signup-panel__title
      新規登録
    .signup-panel__body
      .signup-panel__body__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            %label{for: "nickname", class: "label"} ニックネーム
            %br
            = f.text_field :nickname, autofocus: true, autocomplete: "text", class: "form-input"

          .field
            %label{for: "email", class: "label"} メールアドレス
            %br
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input"
          .field
            %label{for: "password", class: "label"} パスワード
            - if @minimum_password_length
              %em (#{@minimum_password_length} 文字以上を入力してください)
            %br
            = f.password_field :password, autocomplete: "new-password", class: "form-input"
          .field
            %label{for: "password", class: "label"} パスワード（確認）
            %br
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input"
          .actions
            = f.submit "Sign up"
