.left-content__icon

  %label.form-mask
    = image_tag "#{@user.image}"
  .left-content__profile
    .title プロフィール
    .list
      .list__title ニックネーム：
      .list__item
        = @user.nickname
    .list
      .list__title 登録日：
      .list__item
        = dayTime(@user.created_at)
    .list
      .list__title 性別：
      .list__item
        - if @user.sex.present?
          = sex_display(@user.sex)
        - else 
          公開しない
    .list
      .list__title 誕生日：
      .list__item
        - if @user.birthday.present?
          = dayTime(@user.birthday)
        - else
          公開しない
    .list
      .list__title 所在地：
      .list__item
        - if @user.area.present?
          = prefecture(@user.area)
        - else
          公開しない
    .list.select-width
      .select-width__title ひとこと：
      .select-width__item
        = @user.introduction

.book-review-list

  .data
    .data__left
      .data__left__title 読書データ
      .data__left__list
        .title 読み終えた本：
        .status 
          = @user.reviews.count
        .unit 冊
      .data__left__list
        .title 読んでいる本：
        .status 
          = @status_first.count
        .unit 冊
      .data__left__list
        .title 積んでいる本：
        .status 
          = @status_second.count
        .unit 冊
      .data__left__list
        .title 読みたい本：
        .status
          = @status_third.count
        .unit 冊
    .data__right
      .data__right__title 詳細データ
      .data__right__list
        .title 登録日：
        .status.add_ration
          = dayTime(current_user.created_at)
      .data__right__list
        .title 読んだページ数：
        .status 
          = @page
        .unit ページ
      .data__right__list
        .title 平均(ページ/1日)：
        .status
          = @count_page
        .unit ページ
      .data__right__list
        .title 今月読んだ本：
        .status
          = @this_month_count
        .unit 冊
